@import "tailwindcss";
@plugin "daisyui";

@theme {
    --font-display: "Oswald", "sans-serif";
}

@theme {
    --font-display: "Oswald", "sans-serif";
    --font-display--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    --font-display--font-variation-settings: "opsz" 32;
}



.work-sans {
    font-family: "Poppins", sans-serif;

}






.bg-gradient-split {
  background: linear-gradient(
    to right,
    #000 0%,    /* black from 0% */
    #000 80%,   /* stays black until 80% */
    #8000ff 80%,/* purple from 80% */
    #8000ff 100%
  );
  background-size: 200% 100%;
}