@import "tailwindcss";
@plugin "daisyui";


@theme {
    --font-display: "Oswald", "sans-serif";
    --font-display--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    --font-display--font-variation-settings: "opsz" 32;
}


.poppins-font {
    font-family: "Poppins", sans-serif;
}

.roboto-font {
    font-family: "Roboto", sans-serif;
}

.error-font {
    font-family: "Fira Sans", sans-serif;
}

.grotesk-font {
    font-family: "Space Grotesk", sans-serif;
}
